.feed {
    margin-top: 60px;
}

.feed__item {
    overflow: auto;
    min-width: 80px;
    cursor: pointer;
}

.feed__item:hover {
    cursor: pointer;
}

.feed__item_title {
    margin-top: 0;
    margin-bottom: 4px;
}
