<% include ../partials/header %>


<div id="main-title" class="ui raised very padded text container segment">
  <h1 class="ui header">Add New Book</h1>
  <form class="ui form" action="/books" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title">
    </div>
    <div class="field">
      <label>Description</label>
      <textarea row="2" name="description"></textarea>
    </div>
      <div class="field">
      <label>Author</label>
      <input type="text" name="author" placeholder="Author">
    </div>
    <button type="submit" class="ui tiny green basic button">Add Book</button>
  </form>
</div>

<% include ../partials/footer %>