<footer class="footer">
  <div class="ui two column centered grid">
    <div class="column">
<!-- todo: Add links to pages -->
      
    </div>
  </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>