<% include partials/header %>

<div class="pusher">
	<div class="ui vertical masthead segment">
	    <div class="ui text container">
	        <% if (message.length > 0) { %>
		        <div class="ui warning message"><%= message %></div>
		    <% } %>
	      <h1 class="ui header">Sign Up</h1>
  	      <div class="ui segment">
		      <p>Sign in with: </p>
		      <a href="/auth/facebook" class="ui mini blue basic button"><i class="facebook square icon"></i> Facebook</a>
		      <a href="/auth/twitter" class="ui mini blue basic button"><i class="twitter icon"></i> Twitter</a>
		      <a href="/auth/google" class="ui mini blue basic button"><i class="google icon"></i> Google</a>
	      </div>
			<form class="ui form" action="/register" method="POST">
				<div class="field">
					<label>name</label>
					<input type="text" name="name" placeholder="Your name">
				</div>
				<div class="field">
					<label>email</label>
					<input type="text" name="email" placeholder="Your email address">
				</div>
				<div class="field">
					<label>password</label>
					<input type="password" name="password" placeholder="password">
				</div>
				<input class="ui tiny button" type="submit" value="submit">
			</form>
	    </div>
    </div>
</div>

<% include partials/footer %>
