.detailMeta {
    display: inline-block;
    width: 100%;
    padding: 7px 0;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0,0,0,.6);
}

.detailContent {
    padding: 20px;
}

.detailImage {
    max-width: 128px;
}
