
.search_input {
    margin: 0 auto;
    width: 300px;
    border-radius: 4px;
    border: solid 1px grey;

    padding: 10px 20px;
}

.search_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autocomplete {
    width: 300px;
    height: auto;
    border: solid 1px grey;
}

.autoCompContainer {
    position: relative;
    width:300px;
    margin: 0 auto;
}
.autoCompList {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
    overflow: hidden;
    height: auto;
    border: solid 1px grey;
    position: absolute;
    top: 0;
}

.autoCompListItem {
    padding: 4px 8px;
    height: 24px;
    overflow: hidden;
    line-height: 16px;
}

.autoCompListItem:hover {
    background-color: lightcyan;
    cursor: pointer;
}