#main-title {
	margin-top: 100px;
}
.hero_text {
	text-align: left;
}
.book_main h1 {
	margin-top: 0px!important;
}
.book_cards h3 {
	margin-top: 0px!important;
}

.book_cards .ui.tiny.image img[src=""] {
   display: none!important;
}
.inline-element {
	display: inline-block;
}
.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.ui.text.container{
	margin-top:250px;
}

.blue {
	color: #4183C4!important;
}
a.blue:hover {
	text-decoration: underline;
}

.landing-hero {
	position: relative;
	overflow: hidden;
	color: white;
	background: url('../images/books-hero.jpeg') no-repeat center center!important;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	background-size: cover!important;
}

input[type="submit"].delete {
    background-color: transparent!important;
    border: none!important;
    cursor: pointer;
    display: inline-block;
    margin: 0 .75em 0 0;
    color: rgba(0,0,0,.4);
}
input[type="submit"].delete:hover {
    color: rgba(255,0,0,.8);
}

.hero__inner {

    background: rgba(0,0,0,0.5);
    padding: 40px;
}
@media (max-width: 767px) {
	.hero__inner {
	    margin-top: 125px!important;
	}
}

/* mobile nav bar */

.menu_nav {
	max-width: 100%!important;

    width: 933px;
    margin-left: auto!important;
    margin-right: auto!important;
}
.menu_nav__item {
	padding: .92857143em 1.14285714em;
	display: inline-block;
	border-right: 1px solid rgba(34,36,38,.1);
	color: #000000;
}
.menu_nav__item:hover {
	background: #000000;
	color: #ffffff;
}
.menu_nav__item:nth-child(1) {
	border-left: 1px solid rgba(34,36,38,.1);
}
.menu_nav__item--profile {
	display: inline-block;
	float:right;
	border-left: 1px solid rgba(34,36,38,.1);
}
.menu_nav__button {
	display: none;
    padding: .92857143em 1.14285714em;
	float: right;	
}

@media screen and (max-width: 768px) {
	.menu_nav .menu_nav__item:not(:first-child) {display: none;}
	.menu_nav .menu_nav__button {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.menu_nav.menu_nav__expanded {position: relative;}
	.menu_nav.menu_nav__expanded .menu_nav__button {
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu_nav.menu_nav__expanded .menu_nav__item {
		float: none;
		display: block;
		text-align: left;
	}
	.menu_nav__item--profile {
		background-color: rgba(34,36,38,.1);
		float:none;
	}
}

a {
	color: #000000;
}

a:hover {
	color: #000000;
}
