<% include ../partials/header %>

<div>Explore Books</div>
<div id="main-title" class="ui raised very padded text container segment">
    <h1 class="ui header"> </h1>
    <div class="ui divided items">
        <div id="search_root"></div>
    </div>
</div>
<script>
    window.appData = <%-JSON.stringify(appData)%>;
</script>
<script src="../../js/bundle-build.js"></script>

<% include ../partials/footer %>
